body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.fa {
  display: inherit !important;
}

.v-center > i{
  vertical-align: middle !important;
}

.clear {
  clear: both;
}
